{% extends 'women/base.html' %}

{% block content %}




<!-- <div class="row">
    {% for p in posts %}
    <div class="col-lg-8">
      
        <div class="card mb-2">
            {% if p.photo %}
            <img class="card-img-top " src="{{p.photo.url}}" alt="..." />
            {% endif %}
            <div class="card-body ">

                <div class="small text-muted">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</div>
                <h2 class="card-title">Категория: {{p.cat}}</h2>
                {% autoescape on %}
                <p class="card-text">{{p.content|linebreaks|truncatewords:50}}</p>
                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Читать пост →</a>
                {% endautoescape %}
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->












<ul class="list-articles">
    {% for p in posts %}
    <li>
    <li>
        <div class="article-panel">
            <p class="first">Категория: {{p.cat}}</p>
            <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>


        {% if p.photo %}
        <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
        {% endif %}


        <h2>{{p.title}}</h2>
        {% autoescape on %}
        <p>{{p.content|linebreaks|truncatewords:50}}</p>
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
    </li>
    {% endfor %}
</ul>

{% endblock %}